.button {
    border: rebeccapurple;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}
.button1 {
    background-color: green;
}
.button2 {
    background-color: blue;
}
.button3 {
    background-color: red;
}
.button4{
    color: black;
    background-color: yellow;
}