*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body  {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0f0f11;
}

.form {
    position: relative;
    padding: 60px 15px;
    width: 270px;
    height: 350px;
    box-shadow: 0px 0px 10px 0px rgb(116, 119, 114);
    border-radius: 5px;
    overflow: hidden;
}

.login-inner{
    position: absolute;
    height: 98%;
    width: 98%;
    top: 50%;
    left: 50%;
    background: #0c0116;
    transform: translate(-50%, -50%);

} 

.login-inner h1{
    font-size: 25px;
    color: #d7a3d7;
    text-align: center;
    padding-top: 35px;
}

.contant{
    height: 100%;
    width: 100%;
    padding: 25px;
}
.login-inner input{
    display: block;
    padding: 12px 15px;
    width: 100%;
    left: 50%;
    border-radius: 10px;
    margin-top: 20px;
    border: 1.5px solid rgb(109, 87, 121);
    outline: none;
    background: #19052c;
    color: white;

}

.btn{
    cursor: pointer;
    color: white;
    margin-top: 40px;
    width: 100%;
    padding: 12px;
    outline: none;
    background: #910691;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.4s;
    
}

.btn:hover{
    background: #c907c9;
}


/* Animation */
.form span:nth-child(1){
    background: #ffda05;
    top: 0;
    left: -48%;
    animation: 5s span1 infinite linear;
    animation-delay: 1s;

}

@keyframes span1{
0%{
    top: -48%;
    left: -48%;
}
25%{
    top: -48%;
    left: 98%;
}
50%{
    top: 98%;
    left: 98%;
}
75%{
    top: 98%;
    left: -48%;
}
100%{
    top: -48%;
    left: -48%;
}
}

